body{
	background-color: whitesmoke;
	padding: 0;
	margin: 0;
}
.nav-bar{
	height: 70px;
	background-color:lightgrey ;

}
.logo{
	padding: 10px;
	width: 30%;
	float: left;
}
li{
	list-style-type:none;
	display: inline-block;
	margin-top:30px;
}
a{
	text-decoration: none;
	margin: 20px;
	background-color: brown;
	padding: 10px;
	border-radius: 5px;
	color: white;

}
.links{
	width:40%;
	float: right;
}
.banner{
	margin-top: -17px;
	height: 500px;
	width: 100%;
	opacity: 1;
}

a:hover{
	background-color: white;
	color: black;
	transition: -3s ease;
}
p{
	line-height: 30px;
	color: black;
	padding: 10px;
	font-family: serif;
}
.content{
	background-color:white;
	border-radius: 5px;
	width:800px;
	padding: 10px;
	margin: 0 auto;

}
.aboutme{
	text-align: center;
	font-family: sans-serif;
	font-weight: 700;

}
button{
	padding: 10px;
	border-radius:5px;
	background-color: brown;
	color: white;
	border:none;


}
.main_body{
	background-color: white;
}
.main-title{
	text-align: center;
	font-family:cursive;
	margin-top:30px ;
}
.card{
	width: 800px;
	background-color: lightslategrey;
	border-radius: 5px;
	padding: 10px;
	margin: 20px;
	height: 400px;
	display: flex;
	flex-direction:row;
	columns: 2;
	margin: 0 auto;
	margin-bottom: 20px;
}
.imgcard{
	width:100px;
	height: 100px;
	border-radius:50%;
	
}
.image{
	float: left;
	width: 100px;
	margin-top: 50px;
}
.main-text{
	float: right;
	padding:10px;
	margin: 20px;
}
.text{
	max-width:750px;
}
.footer{
	text-align: center;
	color: black;
    
}